* {box-sizing: border-box}

body {
    background-image: url("../images/pattern1.jpeg");
    background-color: #bbbbbb;
}

.slideshow-container {
    position: relative;
    color: darkseagreen;
}

.mySlides {
    display: none;
    padding: 0 100px;
    text-align: center;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 10px;
    width: auto;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: #ffc107;
    color: white;
    opacity: 70%;
    border-radius: 10px;
}

.dot-container {
    text-align: center;
    padding: 20px 10px;
    margin-top: 15px;
    position: relative;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

q {font-style: italic;}

.info {
    color: #bdbebf;
    font-size: large;
    font-style: italic;
    font-weight: bold;
}

.heading {
    text-align: left;
    font-style: italic;
    margin-top: 20px;
    margin-left: 15px;
}

.arabic {
    font-family: amiri-quran-colored-full, sans-serif;
    font-weight:normal;
    font-style:normal;
    font-size: x-large;
    padding: 5px;
    text-align: center;
}

.quote {
    padding: 5px;
    text-align: center;
    font-size: xx-large;
}

.button {
    background-color: #ffc107;
    border: none;
    color: #000000;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    opacity: 70%;
}

.button:hover {
    background-color: #ffc107;
    opacity: 90%;
}

#loading-status {
    text-align: center;
    display: none;
}

#error-status {
    text-align: center;
    display: none;
    color: red;
    font-size: large;
    margin-bottom: 30px;
    font-style: italic;
    font-weight: bold;
    opacity: 45%;
}

#connectivity-status {
    text-align: center;
    color: red;
    font-size: large;
    font-style: italic;
    font-weight: bold;
    opacity: 45%;
    border-radius: 20px;
    display: none;
    border: 1px solid aliceblue;
}

#next-quotes {
    position: absolute;
    right: 10px;
    top: 0;
}

.slides {
    display: none;
}

.wrapper {
    min-width: 600px
}

@font-face {
    font-family: "amiri-quran-colored-full";
    src: url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/amiri-quran-colored-full.eot");
    src: url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/amiri-quran-colored-full.woff") format("woff"),
    url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/amiri-quran-colored-full-org.otf") format("opentype"),
    url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/amiri-quran-colored-full.svg") format("svg");
}